## Question 1 Class Test Scores

The following are the Mathematics test scores (out of 20) for a class of 15 students:
 5, 8, 10, 12, 12, 12, 13, 14, 14, 15, 16, 18, 18, 20, 20
Find the mean, median, and mode of the scores.
If the lowest score (5) was wrongly recorded and should have been 10, how would the mean change? Would the median or mode change? Explain.

### Number 1

Mathematics test scores =  5, 8, 10, 12, 12, 12, 13, 14, 14, 15, 16, 18, 18, 20, 20

Mean = (5+8+10+12+12+12+13+14+14+15+16+18+18+20+20)/15 =13.8

Median = 14

Mode = 12 (Unimodal)

### Number 2

Effects of changing the lowest score (5) to 10 on the mean, median and mod

Mean: Since mean uses all values in the dataset and is affected by outliers, the mean will increase from 13.8 to 14.133.

Median: The median remains unchanged since we are only changing a value in the dataset and not adding new values to the dataset. The median also remains unchanged because it it not affected by outliers.

Mode: The mode remains unchanged because the value with the highest number of frequency (12) doesn't change with the addition of 10 to the dataset. It is also not affected by outliers.

## Question 2

In [ ]:
import numpy as np